[Unit]
Description=Service to create Github runners for OpenTix/platform.
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=chris
WorkingDirectory=/home/chris/grid
ExecStart=/bin/bash -c "docker compose -f /home/chris/grid/compose.yml up --build --scale runner=4 --detach"
ExecStop=/bin/bash -c "docker compose -f /home/chris/grid/compose.yml stop"

[Install]
WantedBy=multi-user.target